
<div class="background"></div>
<nav class="main-nav">
  <span>custom</span> demo
  <div class="right">
    <button mat-icon-button (click)="openDialog(info)">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog(palette)">
      <mat-icon fontIcon="palette"></mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog(code)">
      <mat-icon fontIcon="code"></mat-icon>
    </button>
  </div>
</nav>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0">
  <mat-tab label="Two-way Binding">
    <div class="content">
      <mat-card appearance="outlined">
        <h2>Two-way Binding Example</h2>
        <section>Hi my name is <b>{{ name() }}</b>.</section>
        <section>I was born on <b>{{ dateOfBirth | date : 'MMMM d, yyyy'}}</b>.</section>
        <section>I like <b>{{ hobby }}</b>.</section>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth" (ngModelChange)="logInfo($event)">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hobby</mat-label>
          <mat-select [(ngModel)]="hobby" (ngModelChange)="logInfo($event)">
            @for (hobby of hobbies; track hobby) {
            <mat-option [value]="hobby">{{hobby}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Reactive Forms">
    <form class="content" [formGroup]="form">
      <mat-card appearance="outlined">
        <h2>One-way Binding (Reactive) Example</h2>
        <section>Hi my name is <b>{{ formData.name }}</b>. </section>
        <section>I was born on <b>{{ formData.dateOfBirth | date : 'MMMM d, yyyy'}}</b>.</section>
        <section> I like <b>{{ formData.hobby }}</b>.</section>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dateOfBirth">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hobby</mat-label>
          <mat-select formControlName="hobby">
            @for (hobby of reactiveHobbies; track hobby) {
            <mat-option [value]="hobby">{{hobby}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Content Projection">
    <div class="content">
      <app-container class="w-40">
        Test Default Projection
      </app-container>
      <app-container class="w-40">
        <h2 title>Test Title Projection</h2>
        Test Default Projection
        <footer actions>
          <button mat-flat-button (click)="openDialog(projection)">Test Actions Projection</button>
        </footer>
      </app-container>
      <app-container class="w-40" [templateRef]="example">
        Test Default Projection
      </app-container>
      <ng-template #example>
        <app-container class="w-40">
          Test Nested Template Projection as Input
        </app-container>
      </ng-template>
    </div>
  </mat-tab>
  <mat-tab label="Custom NG Pipe">
    <div class="content">
      <mat-card appearance="outlined">
        <h2>Ellipsis Pipe Example</h2>
        <div>{{'this is a really long description, wow, sooooo long' | ellipsis : 33}}</div>
      </mat-card>
      <mat-card appearance="outlined">
        <h2>Sentence Case Pipe Example</h2>
        @for (key of flatJsonDataKeys; track key) {
          <div class="flex">
            <b class="w-10">
              {{key | sentenceCase}}:
            </b>
            <span>
              {{flatJsonData[key]}}
            </span>
          </div>
        }
      </mat-card>
      <mat-card appearance="outlined">
        <h2>Random Status Pipe Example</h2>
        @for (key of flatJsonDataKeys; track key) {
          <div class="flex">
            <b class="w-10">
              {{key | sentenceCase}}:
            </b>
            <span>
              {{flatJsonData[key] | status}}
            </span>
          </div>
        }
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="RxJs Observables">
    <div class="content">
      <app-rxjs-example class="w-40"></app-rxjs-example>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #info>
  <h2 mat-dialog-title>Questions you may have</h2>
  <mat-dialog-content>
    <ul>
      <li>Why did I include Reactive Forms or One-way binding?</li>
      <li>Benefits of One-way binding over Two-way binding</li>
      <li>Why did I not create a component per page?</li>
      <li>Why did I use Angular Material?</li>
      <li>Why do I not unsubscribe from all my rxjs subscriptions?</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #code>
  <h2 mat-dialog-title>Technologies used</h2>
  <mat-dialog-content>
    <ul>
      <li>Angular 19</li>
      <li>Angular Material</li>
      <li>RxJs</li>
      <li>NGRX</li>
      <li>Reactive Forms</li>
      <li>Angular signals</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Noice!</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #palette>
  <h2 mat-dialog-title>Color Scheme</h2>
  <mat-dialog-content>
    This uses a custom color palette from Angular Material framework, following the color scheme from custom Homepage
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Noice!</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #projection>
  <h2 mat-dialog-title>Projecting to a Dialog</h2>
  <mat-dialog-content>
    This dialog is defined within this same component and projected to the Mat Dialog service
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Noice!</button>
  </mat-dialog-actions>
</ng-template>